@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .link-container {
    @apply hidden gap-5 md:flex lg:gap-[2.75rem];
  }

  .header-link {
    @apply font-proxima-semibold uppercase !leading-[1.375rem] tracking-wide duration-300 hover:text-light-brown md:text-sm lg:text-lg 4xl:h-[1.125rem];
  }

  .ankauf-point {
    @apply mt-3.5 block font-proxima-semibold uppercase text-brown xl:mt-[34px] 4xl:h-[33px];
  }

  .ankauf-desc {
    @apply block font-gt-super text-lg text-medium-blue lg:text-2xl 4xl:leading-[37px];
  }

  .text-balance {
    text-wrap: balance;
  }
}
