@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .link-container {
    @apply hidden gap-5 md:flex lg:gap-[2.75rem];
  }

  .header-link {
    @apply font-proxima-semibold uppercase !leading-[1.375rem] tracking-wide duration-300 hover:text-light-brown md:text-sm lg:text-lg 4xl:h-[1.125rem];
  }

  .ankauf-point {
    @apply mt-3.5 block font-proxima-semibold uppercase text-brown xl:mt-[2.125rem] 4xl:h-[2.063rem];
  }

  .ankauf-desc {
    @apply block font-gt-super text-lg text-medium-blue lg:text-2xl 4xl:leading-[2.313rem];
  }

  .metric-container {
    @apply w-full px-3 text-center md:max-w-[18.75rem] lg:px-0 xl:mx-[3.281rem] xl:mb-[2.75rem] xl:mt-[2.688rem];
  }

  .metric {
    @apply font-gt-book text-5xl lg:text-[4.375rem] lg:leading-[4.813rem] 4xl:h-[4.563rem];
  }

  .metric-label {
    @apply inline-block text-lg uppercase tracking-wide text-medium-blue lg:mt-3 lg:text-[1.313rem] lg:leading-[1.563rem] xl:mt-[1.125rem];
  }

  .faq-section-1 {
    @apply flex flex-1 flex-col gap-2 4xl:gap-[0.938rem];
  }

  .faq-section-1-header {
    @apply inline-block text-nowrap font-proxima-semibold uppercase text-medium-blue lg:text-xl lg:leading-[1.875rem] 4xl:h-[1.313rem];
  }

  .faq-section-1-value {
    @apply bg-dark-blue py-[0.563rem] text-center font-gt-super-bold lg:text-xl lg:leading-[1.875rem];
  }

  .faq-list-header {
    @apply mb-3 font-gt-super uppercase text-medium-blue underline decoration-1 lg:mb-[1.438rem] lg:text-xl lg:leading-[1.75rem] 4xl:h-5;
  }

  .faq-list {
    @apply mb-7 list-outside list-disc pl-3 text-medium-blue lg:pl-3.5 lg:text-xl lg:leading-[1.75rem] 4xl:mb-0;
  }

  .faq-list li::marker {
    @apply relative flex items-center pl-2 text-xs before:absolute before:left-0 before:-mt-4 before:text-3xl;
  }
}
